*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.genislik{
    width: 400px;
    display: flex;
    justify-content: space-between;
}
.genislikB{
    width: 400px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.genislikB button{
    width: 100px;
    height: 30px;
    background-color: rgb(53, 177, 177);
}
.genislikB button:hover {
    width: 120px;
    height: 40px;
    background-color: rgb(65, 204, 204);
    font-size: 1.3em;
}
.line{
    position: relative;
    width: 65px;
    height: 6px;
    background-color: rgb(153, 153, 153);
    align-self: center;
}
.line-action{
    position: absolute;
    top: 0px;
    left: -1px;
    width: 0px;
    height: 6px;
    background-color: red;
    align-self: center;
    transition: ease-out 1250ms all;
}
.circle{
    border: 6px solid rgb(153, 153, 153);
    border-radius: 100%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-out 750ms all;
}

