*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:rgb(53, 53, 53);
}
body{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: rgb(235, 235, 235);
    height: 100vh;

}
.container{
    display: flex;
    column-gap: 10px;
    align-items: center;
    width: 1024px;
}
.dv{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 100px;
    border: 1px solid rgb(53, 53, 53);
    height: 700px;
    width: 100px;
    transition: all 1s ease-out;
}
@media only screen and (max-width: 1023px) {
    .container{
        width: 90%;
    }
    .dv{
        width: 75px;
    }

}
@media only screen and (max-width: 767px) {
    .container{
        width: 100%;
        
    }
    .dv{
        width: 50px;
        height: 500px;
    }
}
.focus{
    width: 60%;
    border-radius: 100px;
}